.bg-seawolf{
  background-color: #990000;
}

.text-seawolf {
  color: #990000;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.height-bottom {
  height: 100px;
}

.text-link {
  color: black;
}

/* a h3 {color: #990000 !important;} */
.tablink, .tablink:visited {
  color: #990000 !important;
}
/* .tablink, .tablink:visited, .tablink:hover, .tablink:active {
   text-decoration:none;
} */
.tablink:hover, .tablink:active{
  color: #c20000 !important;
}

a h4 {color: #990000 !important;}
a h4:hover  {
  text-decoration: underline ;
}

.namelink, .namelink:visited,.namelink:hover,.namelink:active {
   text-decoration:none;
}

.seawolflink, .seawolflink:visited,.seawolflink:hover,.seawolflink:active {
   text-decoration:none;
   color: #990000;
}

.list-seawolf .list-group-item a {
  color: #990000;
}

.list-seawolf .list-group-item a:first-child {
  font-weight: bold;
}

.img-auto {
  width: auto;
  height: auto;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.card{
  display: flex;
  padding: 3em;
  margin-right: 3em;
}

.toogle, .toogle:visited,.toogle:hover,.toogle:active {
  text-decoration:none;
  color: black;
  padding: 0px;
}
